@page
@model Veterinary.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us - Dr.PawPaw";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>Welcome to Dr.PawPaw! We are a full service veterarian hospital for any size animal!</p>
    <p>Our mission is to provide comprehensive care and we offer different cares including emergency care for each of our furry friends..</p>

    <h4>Our Team</h4>
    <ul>
        <li>Tanak Solanki</li>
        <li>Lesly Vega</li>
        <li>Ashley Vega</li>
    </ul>

    <h4>Contact Us</h4>
    <p>If you have any questions or suggestions, feel free to reach out to us at <a href="mailto:contact@Dr.PawPaw.com">contact@Dr.PawPaw.com</a>.</p>
</div>