@page
@model Veterinary.Pages.Pet.AddPetModel
@{
    ViewData["Title"] = "Add Pet";
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Add Pet</label>
    </div>
</div>

<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.OwnerID" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.OwnerID" class="form-control" readonly />
            <span asp-validation-for="NewPet.OwnerID" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.OwnerName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.OwnerName" class="form-control" readonly />
            <span asp-validation-for="NewPet.OwnerName" class="text-danger"></span>
        </div>
    </div>


    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.Name" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.Name" class="form-control" />
            <span asp-validation-for="NewPet.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.Species" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.Species" class="form-control" />
            <span asp-validation-for="NewPet.Species" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.Breed" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.Breed" class="form-control" />
            <span asp-validation-for="NewPet.Breed" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.Gender" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.Gender" class="form-control" />
            <span asp-validation-for="NewPet.Gender" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.DateOfBirth" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="NewPet.DateOfBirth" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewPet.Weight" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewPet.Weight" class="form-control" />
            <span asp-validation-for="NewPet.Weight" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="btn btn-primary form-control">Add Pet</button>
        </div>
    </div>
</form>
